@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto&family=Teko&display=swap');

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Mukta',Arial, Helvetica, sans-serif;
}
h1 {
  font-family: 'Teko',Arial, Helvetica, sans-serif;
  font-size: 3.5em;
  color: rgb(21, 149, 102);
  text-shadow: 0px 0px .7em rgb(0, 0, 0); 
  margin-bottom: 0;
}
h3 {
  margin-top: 0;
}
.header { grid-area: header; }
.middle { 
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: middle;
  background-color: rgba(11, 13, 40, 0.47);
  color: rgb(171, 255, 213);
  border: 2px solid green;
  border-radius: 10px;
  height: 50vh;
  width: 100%;
}
.footer { grid-area: footer; }
.right { 
  display: flex;
  justify-content: right;
  align-items: center;
  grid-area: right;
}
.left { 
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area: left;
}

.grid-container {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
    'left header right'
    'left middle right'
    'left footer right';
}

.links {
  display: flex;
  justify-content: center;
}
.link {
  margin: .2em;
  color: rgb(21, 149, 102);
  background-color: rgba(182, 182, 182, 0.15);
  font-size: 1.3em;
  text-decoration: none;
  width: 7em;
  box-shadow: 0px 0px 1em black;
}
.link:hover {
  background-color: rgba(182, 182, 182, 0.314);
}
.social-link-image {
  height: 5em;
  transition: height .5s;
}
.social-link-image:hover {
  height: 6em;
}

.leftBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  height: 100%;
  width: 50%;
}
.leftBtn:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.200) , rgba(255, 255, 255, 0.100));
  transition: background 2s;
}
.rightBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  height: 100%;
  width: 50%;
}
.rightBtn:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.200) , rgba(255, 255, 255, 0.100));
  transition: background 2s;
}
.btnImage {
  width: 30%;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 95%;
  width: 98%;
}
.project-card {
  max-width: 20%;
  border: 2px solid red;
}
.project-image {
  max-width: 90%;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  font-size: 1.2em;
}
p{
  margin: .2em;
}
